name: CI

on:
  workflow_call:
    inputs:
      python-version:
        description: Python version to use in the CI
        required: true
        type: string

jobs:
  ci:
    name: Run CI Tasks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ inputs.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install -e .[dev]
    - name: Run flake8
      run: flake8 .
    - name: Run interrogate
      run: interrogate --verbose .  
    - name: Run tests and coverage
      run: coverage run -m unittest discover && coverage report
