name: Publish docker image

on:
  workflow_call:
    inputs:
      default-branch:
        description: "Default branch name"
        default: main
        required: false
        type: string
      dockerfile-context:
        description: "Relative path to Dockerfile"
        required: false
        type: string
        default: "."
      docker-tag:
        description: "Docker image tag to use"
        required: true
        type: string
      branch-tag:
        description: "Branch tag to use for Docker image"
        required: true
        type: string
    secrets:
      repo-token:
        description: "GitHub token for release creation"
        required: true

jobs:
  publish-docker:
    name: Publish Docker image
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.default_branch }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Github Packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.repo-token }}
      - name: Build and push image to GitHub Container Registry
        uses: docker/build-push-action@v3
        with:
          context: ${{ inputs.dockerfile-context }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:${{ inputs.docker_tag }}
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:${{ inputs.branch_tag }}
